p {
    padding-left: 3%;
}

#bio {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3%;
    justify-items: stretch;
    align-items: end;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute;
    top: 20%;
    z-index: 100;
}

h1 {
    position: absolute;
    top: 24vh;
    left: 25vw;
    z-index: 101;
}

#bio img {
    /* width: 100%; */
    width: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
h1 {
    font-size: 6vw;
}
/* p{
    font-size: 1.2vw;
} */
}


@media only screen and (max-width: 800px) {
#bio {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: start;
    padding-top: 3%;
}
#bio img {
    width: 40%;

}
p {    
    font-size: 3vw;
    padding: 0;
}
h1 {
    position: static;
    text-align: center;
    font-size: 13vw;
}


footer {
    position: static;
}
}

@media only screen and (max-width: 600px) {
#bio {
    display: flex;
    flex-direction: column-reverse;
    position: static;
    padding-bottom: 5%;
    align-items: center;
}
p{
    padding: 0;
    font-size: 3vw;
}
h1 {
    position: static;
    text-align: center;
    font-size: 13vw;
}
#bio img {
    padding-top: 3%;
    padding-bottom: 3%;
}
footer {
    position: static;
}
nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
nav a {
    font-size: 5vw;
}
#icon {
    font-size: 4.17vw;
    margin: auto;
}
}
