#bio {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    column-gap: 3%;
    justify-content: space-between;
    align-items: center;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    width: auto;
    /* position: absolute;
    top: 20%;
    z-index: 100; */
}

h1 {
    /* position: absolute;
    top: 24vh;
    left: 25vw;
    z-index: 101; */
    width: 665px;
    padding-bottom: 3%;
}

#biotext {
    width: 67%;
}

#bio img {
    /* width: 100%; */
    width: 30%;
    border: 5px solid #2E006E;
    border-radius: 20px;
}

@media only screen and (max-width: 665px) {
    #bio {
        flex-direction: column;
        padding-bottom: 5%;
        align-items: flex-start;
    }
    #biotext {
        width: auto;
    }
    p{
        margin-top: 2%;
        padding: 0;
    }
    h1 {
        position: static;
        text-align: center;
        /* width: 500px; */
width: auto;
        padding-left: 0;
    }
    #bio img {
        margin-top: 4%;
        margin-bottom: 2%;
        align-self: center;
    }
}
